

.home{
    width: 100%;
    height:100vh;
    background-image: url("https://shopify-customerio.s3.amazonaws.com/tools/image_attachment/image/custom_resized_33cd783d-14c3-455b-a2e4-993d4f3fa90d.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    position: relative;
    /* margin-left: 5rem; */
}
.home::after{
    position: absolute;
    content: "";
    top:0;
    left: 0;
    width: 100%;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.704);
    opacity: 0.5;
    z-index: 1;
}


.introduction-container{
    width:max-content;
    height:max-content;
    padding-left: 16rem;
    padding-top: 24rem;
    z-index: 2;
   

}

.introduction-container h1{
    
    
        color: black;
        color: var(--main-color);
        font-family: 'Fira Code', monospace;
        font-weight: bold;
        font-size: 2.5rem;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
}

.introduction-container h1:nth-child(1) {
    margin: 0 20 0 0;
    width: 200px;
    animation: type 3s steps(40,end) forwards;
  } 

  .introduction-container h1:nth-child(2) {
    opacity: 0.8;
    opacity: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
    font-size: 60px;  
    width: 210px;
    padding-left:2rem;
    padding-right:2rem;
    overflow: hidden;
    /* animation: shring-animation 3s steps(40,end) 3s forwards, blink .5s step-end infinite alternate; */
    animation: type3 2s steps(40,end) 3s forwards;
 
  } 

  .introduction-container h1:nth-child(3) {
    margin: 10px 0 0 0;
    width: 290px;
    opacity: 0;
    animation: type3 3s steps(40,end) 5s forwards;
  
  }
  .introduction-container h1:nth-child(4) {
    margin: 10px 0 0 0;
    width: 290px;
    opacity: 0;
    animation: type3 3s steps(40,end) 8s forwards;
  }
  .introduction-container h1:nth-child(5) {
    margin: 10px 0 0 0;
    width: 299px;
    opacity: 0;
    animation: type3 3s steps(40,end) 11s forwards;
  }


  
/* .typing-demo {
  width: 20ch;
 
  height: 50vh;
  animation: typing 3s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

.typing-demo1{
  width: 60ch;
  animation: typing 5s steps(60) 3s, blink .10s step-end infinite alternate;
  white-space: nowrap;
  overflow: auto;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
} */

/* @keyframes typing {
  from {
    width: 0
  }
} */
    
/* @keyframes blink {
  50% {
    border-color: transparent
  }
} */



  
@keyframes shring-animation {
    0% {
      background-position: 0 0;
      opacity: 0;
      width: 0;
    }
    1% {
      background-position: 0 0;
      opacity: 1;
      border-right: 1px solid orange;
    }
    50% {
      background-position: 150px 0;
      opacity: 1;
      border-right: 1px solid orange;
    }
    100% {
      background-position: 400px 0;
      opacity: 1;
      border-right: 1px solid orange;
    }
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    1%, 99%{
      border-right: 1px solid orange;
    }
    100%{
      border-right: none;
    }
  }

  @keyframes type3 {
    0% {
      width: 0;
    }
  
    1%, 99%{
      opacity: 1;
      border-right: 1px solid orange;
    }
    100%{
      opacity: 1;
      border-right: none;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @media(max-width:768px){
    .introduction-container {

    padding-left: 8rem;}
    .introduction-container h1{
      font-size: 1.5rem;
    }
  }
